<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="first_name" name="first_name">
   
        </div>
    </div>

        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="last_name" name="last_name">
   
        </div>
    </div>

        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email@email.com" name="email">
   
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="floatingInput" placeholder="phone" name="phone">
   
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingInput" placeholder="Comments" style="height: 200px;" name="comments">
            </textarea>
        </div>
    </div>

    <div class="col-12 d-grid" >
            <button type="submit" style="width: 100%;" class="btn btn-primary">Submit</button>
    </div>